<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/vendingMachine.css">
    <title>Document</title>
</head>

    
<body style="background-color: white;">

    <!-- Nav div -->
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container-fluid mx-5">
            <a href="index.html" class="navbar-brand">Dev Shoes</a>

            <img class="logoImg" src="../Images/logo.png" alt="" width="30" height="24">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active"><a href="#" class="nav-link">Jordan</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Yeezy</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Nike</a></li>
                    <li class="nav-item"><a href="vendingMachine.html" class="nav-link">Vending Machine</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--  -->

    <h1 style="text-align: center; font-size: 60px;">DevShoes Vending Machine</h1>

    <div class="divv" style="background-color: gray; align-items: center;text-align: center; margin-left: 30%; margin-right: 30%;">

    
        <div style="border: 30px solid black; height: 500px;">
            <p style="text-align: center; font-size: 40px; color: white">Guess the Year the Shoe Came Out</p>
            <img id="questionImg" src="../Images/question.png" class="shoeImg" alt="">
            <p class="info" style="font-size:30px; color: white;">Let's Start guessing.....</p>
            <button class="beginBtn" style="color: red;">Click to Begin</button>
        </div>

        <div style="background-color: black; height: 700px;">
            <br> <br>
            <input class="input" type="text" style="font-size: 30px; width: 30%; text-align: center;"> <br> <br>
            <button class="checkBtn">Check</button>
            <br> <br> 
            <p style="color: white; font-size: 30px; border: 5px solid red;" class="">Tries left: <span class="score">3</span></p>
            <br>
            <div>
                <img class="buttonImg" src="../Images/button.gif" alt="">
                <img class="coinImg" src="../Images/coins.gif" alt="">
            </div>
        </div>

    </div>

    <br><br>

    <!-- FOOTER -->
    <footer class="bg-dark text-white">
        <div class="container text-center text-md-left">
            <div class="row text-center text-md-left">
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold" >DevShoes</h5>
                    <p></p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold">Products</h5>
                    <p>
                        <a href="#" class="text-white" style="text-decoration: none;">Jordan</a>
                    </p>
                    <p>
                        <a href="#" class="text-white" style="text-decoration: none;">Yeezy</a>
                    </p>
                    <p>
                        <a href="#" class="text-white" style="text-decoration: none;">Nike</a>
                    </p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold">Useful Link</h5>
                    <p>
                        <a href="#" class="text-white" style="text-decoration: none;">Your Account</a>
                    </p>
                    <p>
                        <a href="#" class="text-white" style="text-decoration: none;">Become an Affliate</a>
                    </p>
                    <p>
                        <a href="#" class="text-white" style="text-decoration: none;">Shipping Rates</a>
                    </p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold">Contact Us</h5>
                    <p>
                        <a href="#" class="text-white" style="text-decoration: none;">New York, NY 10012, US</a>
                    </p>
                    <p>
                        <a href="#" class="text-white" style="text-decoration: none;">DevShoes@gmail.com</a>
                    </p>
                    <p>
                        <a href="#" class="text-white" style="text-decoration: none;">+1 212-###-####</a>
                    </p>
                </div>
                <hr class="mb-4">
                <div class="col-md-7 col-lg-8">
                    <p>&copy; Brand by <b>Valentin Salazar, Leandro Gamarra and Kyle Reed</b> All Rights Reserved</p>
                
                </div>
                <div class="col-md-5 col-lg-4">
                    <div class="text-center text-md-right">
                        <ul class="list-unstyled list-inline">
                            <li class="list-inline-item">
                                <a href="#" class="btn-floating btn-sm text-white">Instagram</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="btn-floating btn-sm text-white">GMAIL</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="btn-floating btn-sm text-white">YOUTUBE</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="btn-floating btn-sm text-white">INDEED</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="btn-floating btn-sm text-white">YOUTUBE</a>
                        </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- FOOTER -->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    <script src="vendingMachine.js"></script>
    
</body>
</html>